@import "bootstrap";

@font-face {
    font-family: 'Hoefler';
    src: url(../fonts/Hoefler.ttf);
  }


body {
    //background-image: url(../../images/1);
    background-color: rgb(224, 224, 224);
    background-size: cover;
    background-position: center;

}
.image-card-details{
    max-height: 144px;
    min-height: 144px;
    max-width: 256px;
    min-width: 256px;
    object-fit: scale-down;
}


.ipc{
    max-width: 400px;
}

.card-principal{
    max-width: 16rem;
}



.titre-principal{
    font-family: Hoefler;
}

