{% extends 'base.jinja2' %}
{% block contenu %}
    <div class="p-3  m-3">
        <h1 class="text-center">Ajouter une image au terme <span class="text-muted fst-italic">(falcultatif)</span></h1>
            <hr>
            <form action="/add" method="post" enctype="multipart/form-data" novalidate>
                <input type="hidden" class="form-control" id="titreTerme" name="titreTerme" placeholder="Entrez le titre du terme" value="{{ valTitre }}">
                <input type="hidden" class="form-control" id="contenuTerme" name="contenuTerme" style="height: 190px" value="{{ valContenu }}">  </input>
                <input type="hidden" class="form-control" id="auteurTerme" name="auteurTerme" placeholder="Entrez l'auteur du terme" value="{{ valAuteur }}">

                <div class="image-preview-container d-flex align-items-center flex-column mb-3">
                    <div class="preview p-3 w-50">
                        <img id="preview-selected-image" src="static/images/placeholder.jpg" class="rounded-3 img-fluid w-100" />
                    </div>

                    <input type="file" id="file-upload" name="imageTerme" class="form-control w-50" accept="image/*" onchange="previewImage(event);" />
                </div>


                <div class="d-flex justify-content-between">
                    <button type="reset" class="btn btn-danger w-50 fw-medium me-2" onclick="resetImage(event)">Vider <i class="bi bi-trash3"></i></button>
                    <button type="submit" class="btn btn-primary w-50 fw-medium ms-2">Ajouter le terme <i class="bi bi-check"></i></button>
                </div>

        </form>
    </div>

{% endblock %}